body {
  font-size: 20px;
  font-weight: 400;
  color: blanchedalmond;
  display: flex;
}

.wrap {
  width: 600px;
  height: 400px;
  background-color: blue;
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__time {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.block__time-item {
  height: 50px;
  width: 42%;
  margin: 10px 0 10px 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}